body {
    background-color: blueviolet;
}

div.card-node {
    width: 33.33%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

div.card-node div.card-node-image {
    position: relative
}
div.card-node div.card-node-image img{
    width: 100%;
    height: auto;
}
div.card-node div.card-node-image div.card-node-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: cadetblue;
    bottom: -15px;
    right: 25px;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 10px;
}
div.card-node-content {
    background-color: white;
    padding: 15px;
}
div.card-node div.card-node-content time {
    font-size: 11px;
}
div.card-node div.card-node-content h2 {
    font-weight: bold;
}
div.card-node div.card-node-content p {
    font-size: 13px;
}
div.container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.clear-float {
    clear: both;
}

div.card-horizontal {
    width: 300px;
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 20px;
}
div.card-horizontal div.card-horizontal-image {
    width: 40%;
    float: left;
}
div.card-horizontal div.card-horizontal-image img {
    width: 100%;
    height: auto;
}
div.card-horizontal div.card-horizontal-content {
    width: 60%;
    float: right;
    padding: 0 6px;
    box-sizing: border-box;
}
div.card-horizontal div.card-horizontal-content time {
    font-size: 11px;
}
div.card-horizontal div.card-horizontal-content h2 {
    font-weight: bold;
    font-size: 14px;
}
div.card-horizontal div.card-horizontal-content p {
    font-size: 12px;
}