@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
body{
    font-family: 'Oxanium' ;
}
#general-container{
    background-color: plum;
}
.container{
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}
.st-card{
   width: 33.33%;
   float: left;
   padding: 15px; 
   box-sizing: border-box;
}
.container-img{
position: relative;
}
.icon1{
position: absolute;
width: 25px;
height: 25px;
background-color: olive;
bottom: -15px;
right: 25px;
color: #FFFFFF;
border-radius: 50%;
padding: 10px;
}
.container-img img{
    width: 270px;
    height: auto;
}
.container .content-news{
    background-color: whitesmoke;
    padding: 15px;
}
