<div class="right">
    <div class="five-right">
        <div class="right-card-one">
            <div class="right-card-one-img">
                <img src="../../../assets/img/egg4.jpg" alt="recipe">
            </div>
            <div class="right-card-one-content">
                <p class="right-card-one-content-title"><span>Friend eggs with ham</span><br><br>
                    <time datetime="JULY 11, 2018">JULY 11, 2018</time> / BY JULIA STILES</p>
            </div>
        </div>
    </div>

    <div class="five-right">
        <div class="right-card-one">
            <div class="right-card-one-img">
                <img src="../../../assets/img/egg5.jpg" alt="recipe">
            </div>
            <div class="right-card-one-content">
                <p class="right-card-one-content-title"><span>Burger with fries</span><br><br>
                    <time datetime="JULY 11, 2018">JULY 11, 2018</time> / BY JULIA STILES</p>
            </div>
        </div>
    </div>

    <div class="five-right">
        <div class="right-card-one">
            <div class="right-card-one-img">
                <img src="../../../assets/img/egg3.jpg" alt="recipe">
            </div>
            <div class="right-card-one-content">
                <p class="right-card-one-content-title"><span>Avocado & Oisters</span><br><br>
                    <time datetime="JULY 11, 2018">JULY 11, 2018</time> / BY JULIA STILES</p>
            </div>
        </div>
    </div>

    <div class="five-right">
        <div class="right-card-one">
            <div class="right-card-one-img">
                <img src="../../../assets/img/egg2.jpg" alt="recipe">
            </div>
            <div class="right-card-one-content">
                <p class="right-card-one-content-title"><span>Tortilla prawns</span><br><br>
                    <time datetime="JULY 11, 2018">JULY 11, 2018</time> / BY JULIA STILES</p>
            </div>
        </div>
    </div>

    <div class="five-right">
        <div class="right-card-one">
            <div class="right-card-one-img">
                <img src="../../../assets/img/egg1.jpg" alt="recipe">
            </div>
            <div class="right-card-one-content">
                <p class="right-card-one-content-title"><span>Burger with fries</span><br><br>
                    <time datetime="JULY 11, 2018">JULY 11, 2018</time> / BY JULIA STILES</p>
            </div>
        </div>
    </div>
</div>
<div class="clear-float"></div>
