<section id="main-slider">
    <div id="container-slayder" class="center">
        <div class="slider-example">
            <div class="imgadap">
                <a href="">
                    <img src="./img/tacos.jpg" alt="">
                </a>

            </div>

            <div class="imgadap">
                <a href="">
                    <img src="./img/camaron.jpg" alt="">
                </a>
                <div class="slider-content">
                    <div class="container-content">
                        <span class="title">
                            <h1>HEALTHY FOOD</h1>
                        </span>

                        <span class="category">
                            <h2>Chicken salad</h2>
                        </span>

                        <span class="date">
                            <time datetime="JULY-11-2018 20:00">JULY 11, 2018 / BY JULYA STILES</time>
                        </span>

                    </div>
                </div>
            </div>

            <div class="imgadap">
                <a href="">
                    <img src="./img/hambur.jpg" alt="">
                </a>
            </div>

            <div class="imgadap">
                <a href="">
                    <img src="./img/tacos.jpg" alt="">
                </a>
            </div>

            <div class="imgadap">
                <a href="">
                    <img src="./img/camaron.jpg" alt="">
                </a>
            </div>

            <div class="imgadap">
                <a href="">
                    <img src="./img/hambur.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
