<div class="three-left">
    <!--Aqui va la parte de Daniel-->
    <div class="left-1">
        <div class="horizontal-1-img">
            <img src="./img/foody.jfif" alt="">
        </div>
        <div class="content">
            <h4>HEALTHY</h4>
            <h2>Fried eggs with ham</h2>
            <time datetime="2020-03-10 18:00">JULY 10,2020 / BY JULIA STILES</time>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus nisi modi corrupti,
                numquam neque recusandae fugit incidunt aperiam molestias, ullam unde consequatur ex? Dolor.</p>

        </div>
    </div>

    <div class="left-1">
        <div class="horizontal-1-img">
            <img src="./img/foody.jfif" alt="">
        </div>
        <div class="content">
            <h4>HEALTHY</h4>
            <h2>Fried eggs with ham</h2>
            <time datetime="2020-03-10 18:00">JULY 10,2020 / BY JULIA STILES</time>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus nisi modi corrupti,
                numquam neque recusandae fugit incidunt aperiam molestias, ullam unde consequatur ex? Dolor.</p>

        </div>
    </div>

    <div class="left-1">
        <div class="horizontal-1-img">
            <img src="./img/foody.jfif" alt="">
        </div>
        <div class="content">
            <h4>HEALTHY</h4>
            <h2>Fried eggs with ham</h2>
            <time datetime="2020-03-10 18:00">JULY 10,2020 / BY JULIA STILES</time>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus nisi modi corrupti,
                numquam neque recusandae fugit incidunt aperiam molestias, ullam unde consequatur ex? Dolor.</p>

        </div>
    </div>
</div>
