@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600i&display=swap');

body{
    font-family: 'Josefin Sans';}
div.card-third{
    background-color: teal;
    width: 270px;
    max-width: 1200px;
    box-sizing: border-box;
    float: left;
    margin: 5px;
    padding: 5px;
}
div.card-third div.card-third-image img{
width: 250px;
}
div.card-third div.card-third-image{
 position: relative;
 padding: 10px;
}
div.card-third div.card-third-image .material-icons{
background-color: violet;
border-radius: 50%;
padding: 1%;
position: absolute;
bottom: -2px;
left: 205px;
}
